<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{#if actor.limited}}
    {{>
    "systems/swnr/templates/actors/fragments/limited-sheet.html"
    actor=actor
    }}
  {{else}}
  <div>
    <div class="flex flex-col gap-2">
      <!-- Grid div for header -->
      <div class="flex-grow grid grid-cols-6 items-center gap-1">
        <div class="name  row-span-2 flex flex-col items-center">
          <img class="profile-img w-24 h-24 object-contain" src="{{actor.img}}" title="{{actor.name}}"
            data-edit="img" />
        </div>

        <!-- name -->
        <div class="name flex flex-col items-center">
          <input name="name"
            class="text-2xl px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="text" value="{{actor.name}}" placeholder="{{localize 'swnr.sheet.name'}}" />
          <span>{{localize 'swnr.sheet.drone.name'}}</span>
        </div>

        <!-- model -->
        <div class="name flex flex-col items-center">
          <select name="data.model"
            class="pl-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
            {{#select actor.data.data.model}}
            <option value="">{{localize 'swnr.sheet.drone.models.custom'}}</option>
            <option value="primitiveDrone">
              {{localize 'swnr.sheet.drone.models.primitive-drone'}}
            </option>
            <option value="voidHawk">
              {{localize 'swnr.sheet.drone.models.void-hawk'}}
            </option>
            <option value="stalker">
              {{localize 'swnr.sheet.drone.models.stalker'}}
            </option>
            <option value="cuttlefish">
              {{localize 'swnr.sheet.drone.models.cuttlefish'}}
            </option>
            <option value="ghostwalker">
              {{localize 'swnr.sheet.drone.models.ghostwalker'}}
            </option>
            <option value="sleeper">
              {{localize 'swnr.sheet.drone.models.sleeper'}}
            </option>
            <option value="pax">
              {{localize 'swnr.sheet.drone.models.pax'}}
            </option>
            <option value="alecto">
              {{localize 'swnr.sheet.drone.models.alecto'}}
            </option>
            {{/select}}
          </select>
          <span>{{localize 'swnr.sheet.drone.model'}}</span>
        </div>

        <!--HP-->
        <div class="hp flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.health.value" value="{{actor.data.data.health.value}}"
              data-dtype="Number" min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.health.max" value="{{actor.data.data.health.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.hp'}}
          </label>
        </div>

        <!--AC-->
        <div class="ac flex flex-col items-center">
          <input
            class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number" min="0" name="data.ac" value="{{actor.data.data.ac}}" />
          <label>{{localize 'swnr.sheet.armor-class'}}</label>
        </div>




        <!--enc-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.enc" value="{{actor.data.data.enc}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.drone.enc'}}
          </label>
        </div>

        <div class="flex flexrow"> <!-- bundle speed and tl-->
          <!--speed-->
          <div class="mass flex flex-col justify-center items-center">
            <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
              <input
                class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                type="number" step="1" name="data.speed" value="{{actor.data.data.speed}}" data-dtype="Number"
                min="0" />
            </div>
            <label
              class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
              {{localize 'swnr.sheet.ship.speed'}}
            </label>
          </div>

          <!--tl-->
          <div class="mass flex flex-col justify-center items-center">
            <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
              <input
                class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                type="number" step="1" name="data.tl" value="{{actor.data.data.tl}}" data-dtype="Number" min="0" />
            </div>
            <label
              class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
              {{localize 'swnr.sheet.drone.tl'}}
            </label>
          </div>
        </div>




        <!--range-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-20 text-center pl-0.5 py-1 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              name="data.range" value="{{actor.data.data.range}}" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.drone.range'}}
          </label>
        </div>

        <!--fittings-->
        <div class="fittings flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span class="inline-block text-right text-gray-300 cursor-not-allowed w-8">
              {{actor.data.data.fittings.value}}</span><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.fittings.max" value="{{actor.data.data.fittings.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.drone.fittings'}}
          </label>
        </div>




        <!--cost-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-20 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.cost" value="{{actor.data.data.cost}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.cost'}}
          </label>
        </div>

        <!--pilot-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border item border-gray-800 bg-gray-400 mx-auto rounded-md" data-crew-id="{{pilot.id}}"
            data-crew-name="{{pilot.name}}">
            <input
              class="crew-show w-16 text-center pl-0.5 py-0.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
               value="{{pilot.name}}" readonly />
            {{#if pilot}}
            <a class="item-control mr-1 crew-roll text-gray-700 hover:text-purple-600 transition-colors"
              title='{{localize ' swnr.sheet.roll-skill'}}'><i class="fas fa-dice"></i></a>
            <a class="item-control mr-1 crew-delete text-gray-700 hover:text-red-600 transition-colors"
              title='{{localize ' swnr.sheet.delete-item'}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.mech.pilot'}}
          </label>
        </div>
      </div> <!-- end grid div for header -->
      {{!-- Sheet Body --}}

      <div class="w-full">

        <section class="sheet-body">
          <div class="grid grid-cols-2 gap-2">
            <!-- fittings  -->
            <div class=" fittings pr-0.5">
              {{>
              "systems/swnr/templates/actors/fragments/vehicle-weapon-table.html"
              type=actor.type actor=actor subtype=data.type
              }}
              {{>
              "systems/swnr/templates/actors/fragments/vehicle-fitting-table.html"
              type=actor.type actor=actor subtype=data.type
              }}
              {{>
              "systems/swnr/templates/actors/fragments/vehicle-defense-table.html"
              type=actor.type actor=actor subtype=data.type
              }}
            </div> <!-- end fitting left col -->
            <div class="flex flex-col">
              <!-- right col-->
              <!-- Description -->
              <div class="pr-0.5">
                <div>
                  <li class="item-titles flexrow">
                    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                    <div class="item-name flex2">Description </div>
                  </li>
                </div>
                <div class="bg-gray-400 bg-opacity-75 border border-gray-700 rounded-md p-2 mt-4">
                  {{editor content=data.data.description target="data.description" button=true
                  owner=owner editable=editable}}
                </div>
              </div>
              <!-- Mods -->
              <div class="pr-0.5">
                <div>
                  <li class="item-titles flexrow">
                    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                    <div class="item-name flex2">Mods</div>
                  </li>
                </div>
                <div class="bg-gray-400 bg-opacity-75 border border-gray-700 rounded-md p-2 mt-4">
                  {{editor content=data.data.mods target="data.mods" button=true
                  owner=owner editable=editable}}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  {{/if}}
</form>
