<form class="{{cssClass}} -m-2 p-2 bg-gray-200">
  <div>
    <div class="flex flex-col gap-2">

      <!-- Grid div for header -->
      <div class="flex-grow grid grid-cols-6 items-center gap-1">
        <div class="name  row-span-2 flex flex-col items-center">
          <img class="profile-img w-24 h-24 object-contain" src="{{actor.img}}" title="{{actor.name}}"
            data-edit="img" />

        </div>



        <!-- name -->
        <div class="name col-span-2 flex flex-col items-center">
          <input name="name"
            class="text-2xl col-span-2 px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="text" value="{{actor.name}}" placeholder="{{localize 'swnr.sheet.name'}}" />
          <span>Ship Name</span>
        </div>


        <div class="cargo flex flex-col justify-center items-center">

          <!-- Ship / Hull class -->
          <select name="data.shipHullType"
            class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
            {{#select actor.data.data.shipHullType}}
            <option value="strikeFighter">
              {{localize 'swnr.sheet.ship.shipHullType.strikeFighter'}}
            </option>
            <option value="shuttle">{{localize 'swnr.sheet.ship.shipHullType.shuttle'}}</option>
            <option value="freeMerchant">{{localize 'swnr.sheet.ship.shipHullType.freeMerchant'}}</option>
            <option value="patrolBoat">
              {{localize 'swnr.sheet.ship.shipHullType.patrolBoat'}}
            </option>
            <option value="corvette">{{localize 'swnr.sheet.ship.shipHullType.corvette'}}</option>
            <option value="heavyFrigate">{{localize 'swnr.sheet.ship.shipHullType.heavyFrigate'}}</option>
            <option value="bulkFreighter">{{localize 'swnr.sheet.ship.shipHullType.bulkFreighter'}}</option>
            <option value="fleetCruiser">{{localize 'swnr.sheet.ship.shipHullType.fleetCruiser'}}</option>
            <option value="battleship">{{localize 'swnr.sheet.ship.shipHullType.battleship'}}</option>
            <option value="carrier">{{localize 'swnr.sheet.ship.shipHullType.carrier'}}</option>
            <option value="smallStation">{{localize 'swnr.sheet.ship.shipHullType.smallStation'}}</option>
            <option value="largeStation">{{localize 'swnr.sheet.ship.shipHullType.largeStation'}}</option>
            {{/select}}
          </select>
          {{localize 'swnr.sheet.ship.ship-hull-type'}}
        </div>


        <!-- Ship /  class -->
        <div class="cargo flex flex-col justify-center items-center">
          <select name="data.shipClass"
            class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
            {{#select actor.data.data.shipClass}}
            <option value="fighter">
              {{localize 'swnr.sheet.ship.shipClass.fighter'}}
            </option>
            <option value="frigate">{{localize 'swnr.sheet.ship.shipClass.frigate'}}</option>
            <option value="cruiser">{{localize 'swnr.sheet.ship.shipClass.cruiser'}}</option>
            <option value="capital">
              {{localize 'swnr.sheet.ship.shipClass.capital'}}
            </option>
            {{/select}}
          </select>
          {{localize 'swnr.sheet.ship.ship-class'}}


        </div>


        <!--cargo-->
        <div class="cargo flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.cargo.value" value="{{actor.data.data.cargo.value}}" data-dtype="Number"
              min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.cargo.max" value="{{actor.data.data.cargo.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.cargo'}}
          </label>
        </div>

        <!--HP-->
        <div class="hp flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.health.value" value="{{actor.data.data.health.value}}"
              data-dtype="Number" min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.health.max" value="{{actor.data.data.health.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.hp'}}
          </label>
        </div>

        <!--AC-->
        <div class="ac flex flex-col items-center">
          <input
            class="w-10 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="number" min="0" name="data.ac" value="{{actor.data.data.ac}}" />
          <label>{{localize 'swnr.sheet.armor-class'}}</label>
        </div>

        <!--Armor-->
        <div class="armor flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.armor.value" value="{{actor.data.data.armor.value}}" data-dtype="Number"
              min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.armor.max" value="{{actor.data.data.armor.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.armor'}}
          </label>
        </div>




        <!--fuel-->
        <div class="fuel flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.fuel.value" value="{{actor.data.data.fuel.value}}" data-dtype="Number"
              min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.fuel.max" value="{{actor.data.data.fuel.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.fuel'}}
          </label>
        </div>

        <!--life support-->
        <div class="life-support flex flex-col justify-center items-center">
          <div class="w-24 border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-11 text-right pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.lifeSupportDays.value" value="{{actor.data.data.lifeSupportDays.value}}"
              data-dtype="Number" min="0" /><span>/</span><input
              class="w-11 text-left pr-0.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.lifeSupportDays.max" value="{{actor.data.data.lifeSupportDays.max}}" step="1"
              min="1" data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.life-support-days'}}
          </label>
        </div>


        <!--crew & speed-->
        <div class="crew flex col-span-2 ">
          <div class="flex flexrow">
            <div class="flex flex3 w-60  justify-center items-center">
              <!--crew-->
              <div class="flex-col justify-center text-center items-center">
                <div class="w-36 text-center border border-gray-800 bg-gray-400 mx-auto rounded-md items-center">
                  <input
                    class="w-8 text-center py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                    type="number" step="1" name="data.crew.min" value="{{actor.data.data.crew.min}}" data-dtype="Number"
                    min="0" /><span class="w-2">/</span>
                  <input
                    class="w-8 text-center  py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                    type="number" step="1" name="data.crew.current" value="{{actor.data.data.crew.current}}"
                    data-dtype="Number" min="0" /><span  class="w-2">/</span><input
                    class="w-12 text-center  py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                    type="number" name="data.crew.max" value="{{actor.data.data.crew.max}}" step="1" min="1"
                    data-dtype="Number" />
                </div>
                <label
                  class="hp-label text-center hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
                  {{localize 'swnr.sheet.ship.crew'}}
                </label>
              </div>
            </div> <!--end flex3 for crew-->
            <div class="flex">
              <!--speed-->
              <div class="mass flex flex-col justify-center items-center">
                <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
                  <input
                    class="w-8 text-center pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                    type="number" step="1" name="data.speed" value="{{actor.data.data.speed}}" data-dtype="Number" min="0" />
                </div>
                <label
                  class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
                  {{localize 'swnr.sheet.ship.speed'}}
                </label>
              </div>
            </div><!--end flex for speed-->
          </div> <!-- end flex row for crew&speed-->
        </div> <!--end box 2 colspan for crew & speed-->


        <!--power-->
        <div class="power flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-700 cursor-not-allowed w-8">
              {{actor.data.data.power.value}}</span>/<input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.power.max" value="{{actor.data.data.power.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.power'}}
          </label>
        </div>

        <!--mass-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-700 cursor-not-allowed w-8">
              {{actor.data.data.mass.value}}</span><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.mass.max" value="{{actor.data.data.mass.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.mass'}}
          </label>
        </div>

        <!--hardpoints-->
        <div class="hardpoints flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-700 cursor-not-allowed w-8">
              {{actor.data.data.hardpoints.value}}</span>
            <span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.hardpoints.max" value="{{actor.data.data.hardpoints.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.hard-points'}}
          </label>
        </div>


        <!--spikeDrive-->
        <div class="spikeDrive flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-right pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.spikeDrive.value" value="{{actor.data.data.spikeDrive.value}}"
              data-dtype="Number" min="0" /><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" name="data.spikeDrive.max" value="{{actor.data.data.spikeDrive.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.spike-drive'}}
          </label>
        </div>




        <!--buttons-->
        <div class="cost flex flex-col items-center ">
          <a><i class="fas fa-route  fa-2x travel-button"></i></a>
          {{localize 'swnr.sheet.ship.travel'}}
        </div>

        <div class="cost flex flex-col items-center ">
          <a><i class="fas fa-rocket  fa-2x spike-button"></i></a>
          {{localize 'swnr.sheet.ship.spike'}}
        </div>

        <div class="cost flex flex-col items-center ">
          <a><i class="fas fa-gas-pump  fa-2x refuel-button"></i></a>
          {{localize 'swnr.sheet.ship.refuel'}}
        </div>

        <div class="cost flex flex-col items-center ">
          <a><i class="fas fa-dumpster-fire  fa-2x crisis-button"></i></a>
          {{localize 'swnr.sheet.ship.crisis'}}
        </div>

        <div class="cost flex flex-col items-center ">
          <a><i class="fas fa-heart-broken  fa-2x failure-button"></i></a>
          {{localize 'swnr.sheet.ship.system-failure'}}
        </div>
        <!-- end Grid div for header -->
      </div>


      <div class="abilities grid grid-3col">
        {{!-- abilities here --}}

      </div>


      {{!-- Sheet Body --}}

      <div class="w-full">
        <nav class="pc-sheet-tabs tabs py-1 flex flex-wrap gap-2 border-t border-b border-trueGray-500 border1 mb-1"
          data-group="primary">
          <a class="item" data-tab="mods">
            {{localize 'swnr.sheet.ship.weapons-tab'}}
          </a>
          <a class="item" data-tab="notes">
            {{localize 'swnr.sheet.ship.notes-tab'}}
          </a>

          <a class="item" data-tab="crew">
            {{localize 'swnr.sheet.ship.crew-tab'}}
          </a>
        </nav>

        <section class="sheet-body">
          <div class="tab mods min-h-full" data-group="primary" data-tab="mods">
            <div class="grid grid-cols-2">
              <div class="gap-2">
                <!-- Left Col -->
                <div class="weapons pr-0.5">
                  <!-- weapons -->
                  <div>
                    <li class="item-titles flexrow">
                      <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                      <div class="item-name flex2">{{localize 'swnr.sheet.ship.weapon'}}</div>
                      <div class="item-dmg">{{localize 'swnr.sheet.ship.dmg'}}</div>
                      <div class="item-qualities">{{localize 'swnr.sheet.ship.qualities'}}</div>

                      <div class="item-controls">
                      </div>
                    </li>
                    <ol class="item-list">
                      {{#each itemTypes.shipWeapon as |item id|}}
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="{{item.id}}">
                          <div class="item-name item-click item-rollable flexrow flex2">
                            <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>
                            <a>{{item.name}}</a>
                          </div>
                          <div>
                            {{item.data.data.damage}}
                          </div>
                          <div>
                            {{item.data.data.qualities}}
                          </div>
                          <div class="item-controls">
                            {{#if (ne item.data.data.ammo.type "none")}}
                              <a class="item-control item-reload text-gray-600 hover:text-purple-800 transition-colors"
                                title="{{localize 'swnr.sheet.reload-item'}}">
                                <i class="fas fa-retweet"></i>
                              </a>
                            {{/if}}
                            <a class="item-control item-toggle-broken  {{#unless item.data.data.broken}}item-working{{/unless}}"
                              title='{{localize 'swnr.sheet.break-item'}}'>
                              <i
                                class="fas fa-heart-broken {{#unless item.data.data.broken}}item-working{{/unless}}"></i>
                            </a>
                            <a class="item-control item-toggle-destroy  {{#unless item.data.data.destroyed}}item-working{{/unless}}"
                              title='{{localize 'swnr.sheet.destroy-item'}}'>
                              <i
                                class="fas fa-skull-crossbones {{#unless item.data.data.destroyed}}item-working{{/unless}}"></i>
                            </a>
                            <a class="item-control item-edit" title='{{localize 'swnr.sheet.edit-item'}}'><i
                                class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize 'swnr.sheet.delete-item'}}'><i
                                class="fas fa-trash"></i></a>

                          </div>
                        </div>
                      </li>
                      {{/each}}

                    </ol>
                  </div>

                </div>
              </div>
              <div>
                <!-- Right Col -->
                <!-- defense -->
                <div class="defense pr-0.5">

                  <div>
                    <li class="item-titles flexrow">
                      <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                      <div class="item-name flex2">{{localize 'swnr.sheet.ship.defense'}} </div>
                      <div class="item-effect">{{localize 'swnr.sheet.ship.effect'}}</div>
                      <div class="item-controls">
                      </div>
                    </li>
                    <ol class="item-list">
                      {{#each itemTypes.shipDefense as |item id|}}
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="{{item.id}}">
                          <div class="item-name item-click item-rollable flexrow flex2">
                            <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>

                            <a>{{item.name}}</a>
                          </div>
                          <div>
                            {{item.data.data.effect}}
                          </div>
                          <div class="item-controls">
                            <a class="item-control item-toggle-broken  {{#unless item.data.data.broken}}item-working{{/unless}}"
                              title='{{localize 'swnr.sheet.break-item'}}'>
                              <i
                                class="fas fa-heart-broken {{#unless item.data.data.broken}}item-working{{/unless}} "></i>
                            </a>
                            <a class="item-control item-toggle-destroy  {{#unless item.data.data.destroyed}}item-working{{/unless}}"
                              title='{{localize 'swnr.sheet.destroy-item'}}'>
                              <i
                                class="fas fa-skull-crossbones {{#unless item.data.data.destroyed}}item-working{{/unless}}"></i>
                            </a>
                            <a class="item-control item-edit" title='{{localize 'swnr.sheet.edit-item'}}'><i
                                class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title='{{localize 'swnr.sheet.delete-item'}}'><i
                                class="fas fa-trash"></i></a>

                          </div>
                      </li>
                      {{/each}}
                    </ol>
                  </div>

                  <!-- fittings  -->
                  <div class=" fittings pr-0.5">

                    <div>
                      <li class="item-titles flexrow">
                        <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                        <div class="item-name flex2">{{localize 'swnr.sheet.ship.fittings'}} </div>
                        <div class="item-effect">{{localize 'swnr.sheet.ship.effect'}}</div>
                        <div class="item-controls">
                        </div>
                      </li>
                      <ol class="item-list">
                        {{#each itemTypes.shipFitting as |item id|}}
                        <li class="item-entry">
                          <div class="item flexrow" data-item-id="{{item.id}}">
                            <div class="item-name item-click item-rollable flexrow flex2">
                              <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>

                              <a>{{item.name}}</a>
                            </div>
                            <div>
                              {{item.data.data.effect}}
                            </div>
                            <div class="item-controls">
                              <a class="item-control item-toggle-broken  {{#unless item.data.data.broken}}item-working{{/unless}}"
                                title='{{localize 'swnr.sheet.break-item'}}'>
                                <i
                                  class="fas fa-heart-broken {{#unless item.data.data.broken}}item-working{{/unless}}"></i>
                              </a>
                            <a class="item-control item-toggle-destroy  {{#unless item.data.data.destroyed}}item-working{{/unless}}"
                              title='{{localize 'swnr.sheet.destroy-item'}}'>
                              <i
                                class="fas fa-skull-crossbones {{#unless item.data.data.destroyed}}item-working{{/unless}}"></i>
                            </a>
                              <a class="item-control item-edit" title='{{localize 'swnr.sheet.edit-item'}}'>
                                <i class="fas fa-edit"></i></a>
                              <a class="item-control item-delete" title='{{localize 'swnr.sheet.delete-item'}}'><i
                                  class="fas fa-trash"></i></a>

                            </div>
                        </li>
                        {{/each}}
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab notes min-h-full" data-group="primary" data-tab="notes">
            <div class="flex flex-col">
              <div class="flex flexrow">
                  <!--last Main-->
                  <div class="lastMaintenance flex flex-col items-center">
                    <input
                      class="w-24 text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                      type="string" min="0" name="data.lastMaintenance" value="{{actor.data.data.lastMaintenance}}" />
                    <label>{{localize 'swnr.sheet.ship.last-maintenance'}}</label>
                  </div>

                  <!--maintenanceCost-->
                  <div class="maintenanceCost flex flex-col items-center">
                    <input
                      class="w-24 text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                      type="number" min="0" name="data.maintenanceCost" value="{{actor.data.data.maintenanceCost}}" />
                    <label>{{localize 'swnr.sheet.ship.maintenance-cost'}}</label>
                  </div>

                  <!--cost-->
                  <div class="flex flexrow items-center">
                    <div class="cost flex flex2 flex-col items-center">
                      <input
                        class="w-24 text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
                        type="string" name="data.cost" value="{{actor.data.data.cost}}" />
                      <label>{{localize 'swnr.sheet.ship.cost'}}</label> 
                    </div>
                    <div class="flex flex1 align-left">
                      <a class="calc-cost" title='{{localize 'swnr.sheet.ship.calc-cost'}}'><i class="fas fa-2x fa-cash-register"></i></a>

                    </div>
                  </div>
              </div>
              <div class="grid grid-cols-2">
                <!-- Description -->
                <div class="pr-0.5 text-lg">
                  Description
                  <div class="bg-gray-300 border border-gray-700 rounded-md p-2 mt-4">
                    {{editor content=data.data.description target="data.description" button=true
                    owner=owner editable=editable}}
                  </div>
                </div>
                <!-- Mods -->
                <div class="pr-0.5 text-lg">
                  Mods
                  <div class="bg-gray-300 border border-gray-700 rounded-md p-2 mt-4">
                    {{editor content=data.data.mods target="data.mods" button=true
                    owner=owner editable=editable}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Crew Tab-->
          <div class="tab crew min-h-full" data-group="primary" data-tab="crew">

            <div class="grid grid-cols-2">
              <div class="gap-2">


                <div class="stations pr-0.5 ">
                  <div>
                    <li class="item-titles flexrow">
                      <div class="role-name">{{localize 'swnr.sheet.ship.station.role'}}</div>

                      <div class="role-crew">{{localize 'swnr.sheet.ship.station.crew'}}</div>
                    </li>
                    <ol class="item-list">
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="role-bridge">
                          <div>
                            {{localize 'swnr.sheet.ship.station.bridge'}}
                          </div>
                          <div>
                            <select name="data.roles.bridge"
                              class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
                              {{#select actor.data.data.roles.bridge}}
                              <option value=""></option>
                              {{#each crewArray as | crew id| }}
                              <option value="{{crew.id}}">{{crew.name}}</option>
                              {{/each}}
                              {{/select}}
                            </select>
                          </div>
                        </div>
                      </li>
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="role-captain">
                          <div>
                            {{localize 'swnr.sheet.ship.station.captain'}}
                          </div>
                          <div>
                            <select name="data.roles.captain"
                              class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
                              {{#select actor.data.data.roles.captain}}
                              <option value=""></option>
                              {{#each crewArray as | crew id| }}
                              <option value="{{crew.id}}">{{crew.name}}</option>
                              {{/each}}
                              {{/select}}
                            </select>
                          </div>
                        </div>
                      </li>
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="role-comms">
                          <div>
                            {{localize 'swnr.sheet.ship.station.comms'}}
                          </div>
                          <div>
                            <select name="data.roles.comms"
                              class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
                              {{#select actor.data.data.roles.comms}}
                              <option value=""></option>
                              {{#each crewArray as | crew id| }}
                              <option value="{{crew.id}}">{{crew.name}}</option>
                              {{/each}}
                              {{/select}}
                            </select>
                          </div>
                        </div>
                      </li>
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="role-engineering">
                          <div>
                            {{localize 'swnr.sheet.ship.station.engineering'}}
                          </div>
                          <div>
                            <select name="data.roles.engineering"
                              class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
                              {{#select actor.data.data.roles.engineering}}
                              <option value=""></option>
                              {{#each crewArray as | crew id| }}
                              <option value="{{crew.id}}">{{crew.name}}</option>
                              {{/each}}
                              {{/select}}
                            </select>
                          </div>
                        </div>
                      </li>
                      <li class="item-entry">
                        <div class="item flexrow" data-item-id="role-gunnery">
                          <div>
                            {{localize 'swnr.sheet.ship.station.gunnery'}}
                          </div>
                          <div>
                            <select name="data.roles.gunnery"
                              class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
                              {{#select actor.data.data.roles.gunnery}}
                              <option value=""></option>
                              {{#each crewArray as | crew id| }}
                              <option value="{{crew.id}}">{{crew.name}}</option>
                              {{/each}}
                              {{/select}}
                            </select>
                          </div>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div><!-- end stations-->
              </div>

              <div class="gap-2">
                <div>
                  <li class="item-titles flexrow">
                    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                    <div class="item-name">{{localize 'swnr.sheet.ship.crew-name'}} </div>
                    <div class="item-controls">
                    </div>
                  </li>
                  <ol class="item-list">
                    {{#each crewArray as | crew id| }}
                    <li class="item-entry">
                      <div class="item flexrow" data-crew-id="{{crew.id}}" data-crew-name="{{crew.name}}">
                        <div class="item-name flexrow">
                          <a>{{crew.name}}</a>
                        </div>
                        <div class="item-controls">
                          <a class="item-control crew-delete" title='{{localize 'swnr.sheet.delete-item'}}'><i
                              class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</form>
