<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{#if actor.limited}}
    {{>
    "systems/swnr/templates/actors/fragments/limited-sheet.html"
    actor=actor
    }}
  {{else}}
  <div>
    <div class="flex flex-col gap-2">
      <!-- Grid div for header -->
      <div class="flex-grow grid grid-cols-6 items-center gap-1">
        <div class="name  row-span-2 flex flex-col items-center">
          <img class="profile-img w-24 h-24 object-contain" src="{{actor.img}}" title="{{actor.name}}"
            data-edit="img" />
        </div>

        <!-- name -->
        <div class="name col-span-2 flex flex-col items-center">
          <input name="name"
            class="text-2xl col-span-2 px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            type="text" value="{{actor.name}}" placeholder="{{localize 'swnr.sheet.name'}}" />
          <span>{{localize 'swnr.sheet.vehicle.name'}}</span>
        </div>

        <!-- Ship /  class -->
        <div class="cargo flex flex-col justify-center items-center">
          <select name="data.size"
            class="pl-1 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
            {{#select actor.data.data.size}}
            <option value="s">
              {{localize 'swnr.sheet.vehicle.vehicle-class.s'}}
            </option>
            <option value="m">{{localize 'swnr.sheet.vehicle.vehicle-class.m'}}</option>
            <option value="l">{{localize 'swnr.sheet.vehicle.vehicle-class.l'}}</option>
            {{/select}}
          </select>
          {{localize 'swnr.sheet.vehicle.size'}}
        </div>

        {{>
        "systems/swnr/templates/actors/fragments/hdr-HAA.html"
        type=actor.type actor=actor
        }}

        {{>
        "systems/swnr/templates/actors/fragments/hdr-PMH.html"
        type=actor.type actor=actor
        }}

        <!--speed-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.speed" value="{{actor.data.data.speed}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.speed'}}
          </label>
        </div>


        <!--kmph-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.kmph" value="{{actor.data.data.kmph}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.vehicle.kmph'}}
          </label>
        </div>

        <!--tonnage-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.tonnage" value="{{actor.data.data.tonnage}}" data-dtype="Number"
              min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.vehicle.tonnage'}}
          </label>
        </div>

        <!--tl-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-8 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.tl" value="{{actor.data.data.tl}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.vehicle.tl'}}
          </label>
        </div>

        <!--cost-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <input
              class="w-20 text-center pl-0.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number" step="1" name="data.cost" value="{{actor.data.data.cost}}" data-dtype="Number" min="0" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.cost'}}
          </label>
        </div>

        <!--crew-->
        <div class="flex-col justify-center text-center items-center">
          <div class="w-36 text-center border border-gray-800 bg-gray-400 mx-auto rounded-md items-center">
            <input
              class="w-8 text-center py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" step="1" name="data.crew.min" value="{{actor.data.data.crew.min}}" data-dtype="Number"
              min="0" /><span class="w-2">/</span>
            <input
              class="w-8 text-center  py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" step="1" name="data.crew.current" value="{{actor.data.data.crew.current}}"
              data-dtype="Number" min="0" /><span class="w-2">/</span><input
              class="w-12 text-center  py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" name="data.crew.max" value="{{actor.data.data.crew.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label text-center hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.crew'}}
          </label>
        </div>

        {{#if (useTrauma)}}
          <!--TT-->
          <div class="TT flex flex-col justify-center items-center">
            <input
              type="number"
              class="w-8 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              min="1"
              step="1"
              name="data.traumaTarget"
              value="{{actor.data.data.traumaTarget}}"
              data-dtype="Number"
            />
            <label>{{localize 'swnr.sheet.traumaTarget'}}</label>
          </div> 
        {{/if}}
      </div> <!-- end grid div for header -->
      {{!-- Sheet Body --}}
      <div class="w-full">
        <section class="sheet-body">
          <div class="grid grid-cols-2 gap-2">
            <!-- fittings  -->
            <div class=" fittings pr-0.5">
              {{>
                "systems/swnr/templates/actors/fragments/crew-list.html" 
                  type=actor.type crewArray=crewArray
              }}
              {{>
                "systems/swnr/templates/actors/fragments/vehicle-weapon-table.html" 
                  type=actor.type actor=actor
              }}
              {{>
                "systems/swnr/templates/actors/fragments/vehicle-fitting-table.html"
                type=actor.type actor=actor
              }}
              {{>
                "systems/swnr/templates/actors/fragments/vehicle-defense-table.html"
                type=actor.type actor=actor
              }}
            </div> <!-- end fitting left col -->
            <div class="flex flex-col">
              <!-- right col-->
              <!-- Description -->
              <div class="pr-0.5">
                <div>
                  <li class="item-titles flexrow">
                    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                    <div class="item-name flex2">Description </div>
                  </li>
                </div>
                <div class="bg-gray-400 bg-opacity-75 border border-gray-700 rounded-md p-2 mt-4">
                  {{editor content=data.data.description target="data.description" button=true
                  owner=owner editable=editable}}
                </div>
              </div>
              <!-- Mods -->
              <div class="pr-0.5">
                <div>
                  <li class="item-titles flexrow">
                    <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
                    <div class="item-name flex2">Mods</div>
                  </li>
                </div>
                <div class="bg-gray-400 bg-opacity-75 border border-gray-700 rounded-md p-2 mt-4">
                  {{editor content=data.data.mods target="data.mods" button=true
                  owner=owner editable=editable}}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  {{/if}}
</form>
