<div class="tab stats" data-group="primary" data-tab="stats">
  <div class="flex gap-2">
    <!--stat col-->
    <div class="stats -text-xs">
      <table >
        <thead class="item-titles">
          <tr>
            <th class="statRoll px-1 hover:text-shadow hover:text-shadow-blueGray-900 cursor-pointer transition-text-shadow">
              {{localize 'swnr.sheet.stats'}} <i class="fas fa-dice-d20"></i>
            </th>
            <th class="px-1 hidden lg:table-cell">
              {{localize 'swnr.sheet.base'}}
            </th>
            <th class="px-1 hidden lg:table-cell">
              {{localize 'swnr.sheet.boosts'}}
            </th>
            <th class="px-1 hidden lg:table-cell">
              {{localize 'swnr.sheet.bonus'}}
            </th>
            <th class="px-1">{{localize 'swnr.sheet.modifier'}}</th>
          </tr>
        </thead>
        {{#each actor.data.data.stats as |stat key|}}
        <tr>
          <td>
            <label for="data.stats.{{key}}.base" class="resource-label px-1">
              {{localize (concat 'swnr.stat.long.' key)}}
            </label>
          </td>
          <td class="text-center hidden lg:table-cell">
            <input
              type="number"
              class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              min="3"
              max="18"
              step="1"
              name="data.stats.{{key}}.base"
              value="{{stat.base}}"
              data-dtype="Number"
            />
          </td>
          <td class="text-center hidden lg:table-cell">
            <input
              type="number"
              class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              min="0"
              max="5"
              step="1"
              name="data.stats.{{key}}.boost"
              value="{{stat.boost}}"
              data-dtype="Number"
            />
          </td>
          <td class="text-center hidden lg:table-cell">
            <input
              type="number"
              class="w-8 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              min="0"
              max="3"
              step="1"
              name="data.stats.{{key}}.bonus"
              value="{{stat.bonus}}"
              data-dtype="Number"
            />
          </td>
          <td class="text-center">
            <span class="stat-mod">
              {{numberFormat stat.mod decimals=0 sign=true}}
            </span>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
    <!-- other stats & foci-->
    <div class="flex flex-col flex-grow">
     <!--other stats-->
     <div class="flex flex-col gap-2">
      <div class="perm-sys flex flexrow items-center">
        <span><label>{{localize 'swnr.sheet.permanent-strain'}}</label>:</span>
        <div class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 mx-auto rounded-md">
          <input
            class="w-8 text-right pl-1.5 py-1.5  subfield placeholder-blue-800  placeholder-opacity-75 "
            type="number"
            min="0"
            name="data.systemStrain.permanent"
            value="{{actor.data.data.systemStrain.permanent}}"
          /> + <span
              class="inline-block text-left text-gray-300 cursor-not-allowed w-8"
              >{{actor.data.data.systemStrain.cyberware}}</span>
        </div>
      </div>
      <div class="armor flex flexrow items-center">
          <span><label>{{localize 'swnr.armor.innateArmorClass'}}</label>:</span>
        <input
          type="number"
          class="w-8 text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          min="1"
          step="1"
          name="data.baseAc"
          value="{{actor.data.data.baseAc}}"
          data-dtype="Number"
        />
      </div>
      <div class="hd flex flexrow items-center">
          <span><label>{{localize 'swnr.sheet.hd'}}</label>:</span>
        <input
          class="w-6   text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          name="data.hitDie"
          value="{{actor.data.data.hitDie}}"
        />
      </div>


      <div class="tt flex flexrow items-center">
          <span><label>{{localize 'swnr.sheet.traumaTarget'}}</label>:</span>
        <input
          type="number"
          class="w-8 text-center px-1.5 py-1.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
          min="1"
          step="1"
          name="data.traumaTarget"
          value="{{actor.data.data.traumaTarget}}"
          data-dtype="Number"
        />
      </div>


     </div>

      <!-- foci  -->
      <div class="foci">
          <div><!-- table-->
            <li class="item-titles flexrow">
              <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
              <div class="item-name flex2 pr-2">{{localize 'swnr.sheet.tabs.foci'}} </div>
              <div class="item-effect w-8 flex-shrink">{{localize 'swnr.sheet.level'}}</div>
              <div class="item-controls w-20 text-right">
                <a class="item-control item-search text-gray-100 hover:text-green-400 transition-colors"
                  title="{{localize 'swnr.sheet.search-item'}}" data-item-type="focus" data-item-name="Focus">
                  <i class="fas fa-search"></i>
                </a>
                <a class="item-control item-create text-gray-100 hover:text-green-400 transition-colors"
                  title="{{localize 'swnr.sheet.add-item'}}" data-item-type="focus" data-item-name="Focus">
                  <i class="fas fa-plus"></i>
                </a> 
              </div>
            </li>
            <ol class="item-list">
              {{#each itemTypes.focus as |item id|}}
              <li class="item-entry">
                <div class="item flexrow" data-item-id="{{item.id}}">
                  <div class="item-name item-click item-rollable flexrow flex2 pr-2">
                    <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>
                    <a>{{item.name}}</a>
                  </div>
                  <div class="flex-shrink w-8">{{item.data.data.level}}</div>
                  <div class="item-controls w-20  text-right">
                    <a class="item-control item-edit text-gray-400 hover:text-purple-800 transition-colors" title='{{localize 'swnr.sheet.edit-item'}}'>
                      <i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete text-gray-400 hover:text-red-600 transition-colors" title='{{localize 'swnr.sheet.delete-item'}}'><i
                        class="fas fa-trash"></i></a>
                  </div>
              </li>
              {{/each}}
            </ol>
          </div><!--end table-->
      </div> <!--foci wraoer-->

      <!-- foci  -->
      <div class="edge">
        <div><!-- table-->
          <li class="item-titles flexrow">
            <!--<div class="item-caret"><i class="fas fa-caret-down"></i></div>-->
            <div class="item-name flex2 pr-2">{{localize 'swnr.sheet.tabs.edge'}} </div>
            <div class="item-controls w-20 text-right">
              <a class="item-control item-search text-gray-100 hover:text-green-400 transition-colors"
                title="{{localize 'swnr.sheet.search-item'}}" data-item-type="edge" data-item-name="Edge">
                <i class="fas fa-search"></i>
              </a>
              <a class="item-control item-create text-gray-100 hover:text-green-400 transition-colors"
                title="{{localize 'swnr.sheet.add-item'}}" data-item-type="edge" data-item-name="edge">
                <i class="fas fa-plus"></i>
              </a> 
            </div>
          </li>
          <ol class="item-list">
            {{#each itemTypes.edge as |item id|}}
            <li class="item-entry">
              <div class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name item-click item-rollable flexrow flex2 pr-2">
                  <div class="item-image" style="background-image: url({{item.img}})"><a></a></div>
                  <a>{{item.name}}</a>
                </div>
                <div class="item-controls w-20  text-right">
                  <a class="item-control item-edit text-gray-400 hover:text-purple-800 transition-colors" title='{{localize 'swnr.sheet.edit-item'}}'>
                    <i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete text-gray-400 hover:text-red-600 transition-colors" title='{{localize 'swnr.sheet.delete-item'}}'><i
                      class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
          </ol>
        </div><!--end table-->
      </div> <!--edge wrapper-->
    </div>
  </div>
</div>
