<div class="tab combat" data-group="primary" data-tab="combat">
  <div class="grid grid-cols-3">
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill1
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill2
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill3
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
  </div>
  <div class="flex gap-3">
    <div class="flex-grow">
      <h4 class="text-lg underline text-center">
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.weapons'}}
      </h4>
      <div class="space-y-2">
        {{#each itemTypes.weapon as |item id|}} 
        {{#if (eq item.data.data.location "readied")}}
        {{>
        "systems/swnr/templates/actors/fragments/weapon.html" item=item
        damageBonus=(getPCStatModForWeapon actor item true)
        hitBonus=(concat actor.data.data.ab (getPCStatModForWeapon actor item false))
        type=actor.type actor=actor}} 
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="flex-grow">
      <h4 class="text-lg underline text-center">
        {{localize 'swnr.item.locationReadied'}}  {{localize 'swnr.sheet.tabs.armor'}}
      </h4>
      <div class="flex gap-1 flex-col">
        <li class="item armor text-center flex items-center gap-1">
          <h4>{{localize 'swnr.armor.innateArmorClass'}}</h4>
          <input
            type="number"
            class="w-8 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            min="1"
            step="1"
            name="data.baseAc"
            value="{{actor.data.data.baseAc}}"
            data-dtype="Number"
          />
        </li>
        {{#each itemTypes.armor as |item id|}} 
          {{#if (eq item.data.data.location "readied")}}

            {{>
            "systems/swnr/templates/actors/fragments/armor.html" item=item
            type=actor.type}} 
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="flex-grow flexrow">
    {{!-- Old Powers. Leaving to maybe gate on flag.
    <h4 class="text-lg underline">
      {{localize 'swnr.sheet.tabs.powers'}}
    </h4>
    <div class="flex gap-1 flex-col">
      {{#each itemTypes.power as |item id|}} {{>
      "systems/swnr/templates/actors/fragments/power.html" item=item
      type=actor.type}} {{/each}}
    </div> --}}
    <div class="flex2 powers-list pr-0.5 mt-8">
      <li class="item-titles flexrow">
        <!--<div class="item-caret"><!--<i class="fas fa-caret-down"></i></div>-->
        <div class="item-name pr-2.0">{{localize 'swnr.sheet.power'}} </div>
        <div class="item-source text-center">{{localize 'swnr.sheet.source'}} </div>
        <div class="item-level pr-2.0 text-center">{{localize 'swnr.sheet.level'}}</div>
        <div class="item-controls text-right flex-shrink">
          <a class="item-control item-create text-gray-100 hover:text-green-400 transition-colors"
            title="{{localize 'swnr.sheet.add-item'}}" data-item-type="power"  data-item-name="Power">
            <i class="fas fa-plus"></i>
          </a> 
        </div>
      </li>
      <ol class="item-list">
      {{#each actor.data.data.powers as |pwr i|}}
        <li class="item-entry">
          <div class="item flexrow py-3.0" data-item-id="{{pwr.id}}">
            <div class="item-name item-click item-rollable flexrow pr-2.0">                
              <a>{{pwr.name}}</a>
            </div>
            <div class="item  text-center" style="text-transform: capitalize;">
              {{pwr.data.data.source}}
            </div>
            <div class="item pr-2.0 text-center">
              {{pwr.data.data.level}}
            </div>
            <div class="item-controls text-center flex-shrink text-gray-600 hover:text-purple-800 transition-colors">
              <a class="item-control item-edit" title='{{localize 'swnr.sheet.edit-item'}}'>
                <i class="fas fa-edit"></i></a>
              <a class="item-control item-delete text-gray-600 hover:text-red-600 transition-colors" title='{{localize 'swnr.sheet.delete-item'}}'><i
                  class="fas fa-trash"></i></a>
            </div>
          </li>
      {{/each}}
    </div>
    {{#if actor.data.data.tweak.showResourceList}}
    <div class="resource-list mt-8">
        <li class="item-titles flexrow">
        <!--<div class="item-caret"><!--<i class="fas fa-caret-down"></i></div>-->
        <div class="item-name pr-2.0">{{localize 'swnr.sheet.resources'}} </div>
        <div class="item-level pr-2.0 text-center"></div>
        <div class="item-controls text-right flex-shrink">
          <a class="item-control resource-create text-gray-100 hover:text-green-400 transition-colors"
            title="{{localize 'swnr.sheet.add-item'}}">
            <i class="fas fa-plus"></i>
          </a> 
        </div>
      </li>
      <ol class="item-list">
      {{#each actor.data.data.tweak.resourceList as |item id|}}
      <li class="item-entry">
        <div class="item flexrow" data-rl-idx="{{id}}">
            <input
              class="resource-list-val w-20 mr-1 text-center p-0.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              name="resourceList-name-{{id}}"
              value="{{item.name}}"
              data-rl-type="name"
            /> 

            <input
              class="resource-list-val w-4 text-center  bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              name="resourceList-value-{{id}}"
              value="{{item.value}}"
              data-dtype="Number"
              data-rl-type="value"
            />
            / 
            <input
              class="resource-list-val w-4 text-center  bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
              type="number"
              name="resourceList-max-{{id}}"
              value="{{item.max}}"
              data-dtype="Number"
              data-rl-type="max"
            />

          <div class="item-controls text-right">
            <a class="item-control resource-delete text-gray-600 hover:text-red-600 transition-colors" title='{{localize '
              swnr.sheet.delete-item'}}'><i class="fas fa-trash"></i></a>
          </div>
      </li>
      {{/each}}
    </ol>
    </div>
    {{/if}}
  </div>
</div>
