<div class="tab skills" data-group="primary" data-tab="skills">
  {{#if (ne itemTypes.skill.length 0)}}
  <div class="flex gap-2 pt-1 flex-wrap">
    {{#each itemTypes.skill as |item id|}} {{>
    "systems/swnr/templates/actors/fragments/skill.html" item=item
    type=actor.type}} {{/each}}
  </div>
  <div class="flex flexrow border-t border-b border-trueGray-500 border1 py-1 mb-1">
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        name="data.unspentSkillPoints"
        min="0"
        value="{{actor.data.data.unspentSkillPoints}}"
        data-dtype="Number"
      />
      <label>{{localize 'swnr.sheet.unspent-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center pl-1.5 py-3.5 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        name="data.unspentPsySkillPoints"
        min="0"
        value="{{actor.data.data.unspentPsySkillPoints}}"
        data-dtype="Number"
      /> 
      <label>{{localize 'swnr.sheet.unspent-psy-skill'}}</label>
    </div>
    <div class="flex flex-col items-center">
      <a class="item-control item-create text-gray-300 hover:text-green-400 transition-colors"
        title="{{localize 'swnr.sheet.add-item'}}" data-item-type="skill" data-item-name="Skill">
        <i class="fas fa-plus"></i>
      </a>
      <label>{{localize 'swnr.sheet.add-skill'}}</label>
    </div>

  </div>
  {{else}}
  <button class="skill-load-button" style="margin-top: 3em"
    type="button">
    No skills? Click here to add some!
  </button>
  {{/if}}
</div>
