<div class="tab inventory" data-group="primary" data-tab="inventory">
  <div class="flex flexrow">
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.debt"
        data-dtype="Number"
        value="{{actor.data.data.credits.debt}}"
      />
      <label for="data.credits.debt">{{actor.data.data.tweak.debtDisplay}}</label>
    </div>
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.balance"
        data-dtype="Number"
        value="{{actor.data.data.credits.balance}}"
      />
      <label for="data.credits.balance">{{actor.data.data.tweak.balanceDisplay}}</label>
    </div>
    <div class="flex flex-col items-center">
      <input
        class="w-20 text-center px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number"
        step="1"
        name="data.credits.owed"
        data-dtype="Number"
        value="{{actor.data.data.credits.owed}}"
      />
      <label for="data.credits.owed">{{actor.data.data.tweak.owedDisplay}}</label>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-1 p-1">
    <div class="text-center text-base">
      {{localize 'swnr.item.locationReadied'}}:
      {{actor.data.data.encumbrance.ready.value}}/{{actor.data.data.encumbrance.ready.max}}
    </div>
    <div
      class="w-full border border-green-600 bg-green-200 rounded-full row-start-2"
    >
      <div
        class="h-2 bg-green-400 rounded-full"
        style="width: min(100%, calc(100% * {{actor.data.data.encumbrance.ready.value}}/{{actor.data.data.encumbrance.ready.max}}));"
      ></div>
    </div>
    <div class="text-center text-base">
      {{localize 'swnr.item.locationStowed'}}:
      {{actor.data.data.encumbrance.stowed.value}}/{{actor.data.data.encumbrance.stowed.max}}
    </div>
    <div
      class="w-full border border-yellow-600 bg-yellow-200 rounded-full"
    >
      <div
        class="h-2 bg-yellow-400 rounded-full"
        style="width: min(100%, calc(100% * {{actor.data.data.encumbrance.stowed.value}}/{{actor.data.data.encumbrance.stowed.max}}));"
      ></div>
    </div>
  </div>
  <div> 
    {{> "systems/swnr/templates/actors/fragments/item-table.html" 
        itemList=itemTypes.weapon itemType="weapon" name="Weapon"
    }}
    {{> "systems/swnr/templates/actors/fragments/item-table.html" 
        itemList=itemTypes.armor itemType="armor" name="Armor"
    }}
    {{> "systems/swnr/templates/actors/fragments/item-table.html" 
        itemList=itemTypes.item itemType="item" name="Item"
    }}
  </div>
  {{!-- <div class="flex flex-wrap gap-2">
    {{#each itemTypes.weapon as |item id|}}
    <div class="w-36 flex-grow">
    {{> "systems/swnr/templates/actors/fragments/item.html" type="character" item=item id=id}}
    </div>
    {{/each}}
    {{#each itemTypes.armor as |item id|}}
    <div class="w-36 flex-grow">
    {{> "systems/swnr/templates/actors/fragments/item.html" type="character"  item=item id=id}}
    </div>
    {{/each}} 
    {{#each itemTypes.item as |item id|}}
    <div class="w-36 flex-grow">
    {{> "systems/swnr/templates/actors/fragments/item.html" type="character"  item=item id=id}}
    </div>
    {{/each}}
  </div> --}}
</div>
