<div class="tab stats" data-group="primary" data-tab="stats">
  <div class="flex gap-2">
    <input
      class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      name="data.class"
      value="{{actor.data.data.class}}"
      placeholder="{{localize 'swnr.sheet.class'}}"
      type="text"
    />
    <input
      class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
      name="data.species"
      type="text"
      value="{{actor.data.data.species}}"
      placeholder="{{localize 'swnr.sheet.species'}}"
    />
  </div>
</div>
