<div class="tab combat" data-group="primary" data-tab="combat">
  <div class="grid grid-cols-3">
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill1
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill2
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
    <div>
      {{>
      "systems/swnr/templates/actors/fragments/quick-skill.html" quickskill=actor.data.data.tweak.quickSkill3
      skills=itemTypes.skill
      type=actor.type actor=actor}}
    </div>
  </div>
  <div class="flex gap-3">
    <div class="flex-grow">
      <h4 class="text-lg underline text-center">
        {{localize 'swnr.item.locationReadied'}} {{localize 'swnr.sheet.tabs.weapons'}}
      </h4>
      <div class="space-y-2">
        {{#each itemTypes.weapon as |item id|}} 
        {{#if (eq item.data.data.location "readied")}}
        {{>
        "systems/swnr/templates/actors/fragments/weapon.html" item=item
        damageBonus=(getPCStatModForWeapon actor item true)
        hitBonus=(concat actor.data.data.ab (getPCStatModForWeapon actor item false))
        type=actor.type actor=actor}} 
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="flex-grow">
      <h4 class="text-lg underline text-center">
        {{localize 'swnr.item.locationReadied'}}  {{localize 'swnr.sheet.tabs.armor'}}
      </h4>
      <div class="flex gap-1 flex-col">

        {{#each itemTypes.armor as |item id|}} 
          {{#if (eq item.data.data.location "readied")}}

            {{>
            "systems/swnr/templates/actors/fragments/armor.html" item=item
            type=actor.type}} 
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

</div>
