<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  {{> "systems/swnr/templates/items/fragments/item-base.html"}}
  <div class="flex gap-1 justify-between">
    <div class="items-center">
      <div>
        {{#if system.settings.useCWNArmor}}
          {{localize 'swnr.armor.ranged'}}
        {{/if}}
        {{localize 'swnr.sheet.armor-class'}}:
      </div>

      <input
        type="number"
        class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
        step="1"
        name="data.ac"
        min="0"
        data-dtype="Number"
        value="{{system.ac}}"
      />
    </div>
    {{#if system.settings.useCWNArmor}}
      <div class="items-center">
        <div>
            {{localize 'swnr.armor.melee'}}
          {{localize 'swnr.sheet.armor-class'}}:
        </div>

        <input
          type="number"
          class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          step="1"
          name="data.meleeAc"
          min="0"
          data-dtype="Number"
          value="{{system.meleeAc}}"
        />
      </div>

      <div class="items-center">
        <div>
          {{localize 'swnr.armor.soak.label'}}:
        </div>
        <div class="flex flex-row">
          <input
            type="number"
            class="px-1 w-8 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
            step="1"
            name="data.soak.value"
            min="0"
            data-dtype="Number"
            value="{{system.soak.value}}"
          /> /
          <input
            type="number"
            class="px-1 w-8 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
            step="1"
            name="data.soak.max"
            min="0"
            data-dtype="Number"
            value="{{system.soak.max}}"
          />
        </div> 
      </div>

    {{/if}}

    {{#if system.settings.useCWNArmor}}
    </div>
    <div class="flex gap-1 justify-between">
    {{/if}}
      {{!-- <div class="items-center">
        <div>
          {{localize 'swnr.armor.dr'}}:
        </div>

        <input
          type="number"
          class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          step="1"
          name="data.dr"
          min="0"
          data-dtype="Number"
          value="{{system.dr}}"
        />
      </div> --}}

      <div class="flex flexcol">
        <div>{{localize 'swnr.armor.type.label'}}:</div>
        <select
          name="data.type"
          class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
        >
          {{#select system.type}}
          <option value="primitive">
            {{localize 'swnr.armor.type.primitive'}}
          </option>
          <option value="street">{{localize 'swnr.armor.type.street'}}</option>
          <option value="combat">{{localize 'swnr.armor.type.combat'}}</option>
          <option value="powered">{{localize 'swnr.armor.type.powered'}}</option>
          {{/select}}
        </select>
        {{#if system.settings.useTrauma}}
          <div>
            {{localize 'swnr.armor.traumaMod'}}:
            <input
              type="number"
              class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
              step="1"
              name="data.traumaDiePenalty"
              min="0"
              data-dtype="Number"
              value="{{system.traumaDiePenalty}}"
            />
          </div>
        {{/if}}

      </div>
      <div class="flex flexcol">
        <label class="">
          <input type="checkbox" name="data.shield" {{checked system.shield}} />
          {{localize 'swnr.armor.shield'}}
        </label>
        {{#if system.settings.useCWNArmor}}
        <label class="">
          <input type="checkbox" name="data.isSubtle" {{checked system.isSubtle}} />
          {{localize 'swnr.armor.subtle'}}
        </label>
        <label class="">
          <input type="checkbox" name="data.isHeavy" {{checked system.isHeavy}} />
          {{localize 'swnr.armor.heavy'}}
        </label>
        {{/if}}

      </div>
      <div class="flex flexcol">
        {{#if system.shield}}
          <div class="items-center">
            <div>
              {{#if system.settings.useCWNArmor}}
                {{localize 'swnr.armor.ranged'}}
              {{/if}}          
              {{localize 'swnr.armor.shieldAC'}}:
            </div>

            <input
              type="number"
              class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
              step="1"
              name="data.shieldACBonus"
              min="0"
              data-dtype="Number"
              value="{{system.shieldACBonus}}"
            />
          </div>

          {{#if system.settings.useCWNArmor}}
            <div class="items-center">
              <div>
                {{localize 'swnr.armor.melee'}}
                {{localize 'swnr.armor.shieldAC'}}:
              </div>

              <input
                type="number"
                class="px-1 w-10 text-center border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
                step="1"
                name="data.shieldMeleeACBonus"
                min="0"
                data-dtype="Number"
                value="{{system.shieldMeleeACBonus}}"
              />
            </div>

          {{/if}}
        {{/if}}
      </div>
              
  </div>
</form>
