<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  <div class="flex gap-1">
    <div>
      <label for="data.source">{{localize 'swnr.sheet.source'}}: </label>
      <input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.source"
        value="{{data.data.source}}"
      />
    </div>
    <div>
      <label for="">{{localize 'swnr.sheet.level'}}: </label>
      <input
        type="number"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.level"
        value="{{data.data.level}}"
        step="1"
        min="0"
        max="5"
      />
    </div>
    <div>
    <label for="">{{localize 'swnr.sheet.powers.roll'}}:</label>
			<input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.roll"
        value="{{data.data.roll}}"
      />
    </div>

    <div>
      <label for="">{{localize 'swnr.sheet.powers.duration'}}:</label>
			<input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.duration"
        value="{{data.data.duration}}"
      />
    </div>

    <div class="flexcol">
      <label for="">{{localize 'swnr.sheet.powers.save'}}:</label>
        <select
          class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          name="data.save"
        >
          {{#select data.data.save}}
          <option value="">-</option>
          <option value="physical">{{localize 'swnr.sheet.saves.physical'}}</option>
          <option value="mental">{{localize 'swnr.sheet.saves.mental'}}</option>
          <option value="evasion">{{localize 'swnr.sheet.saves.evasion'}}</option>
          {{#if useHomebrewLuckSave}}
            <option value="luck">{{localize 'swnr.sheet.saves.luck'}}</option>
          {{/if}}
          {{/select}}
        </select>
    </div>  
  </div>
  <div class="flex gap-1">
    <div>
      <label for=""><br>{{localize 'swnr.sheet.powers.range'}}:</label>
			<input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.range"
        value="{{data.data.range}}"
      />
    </div>
    <div class="flex flex-col">
    <label for="data.skill">{{localize 'swnr.sheet.powers.skill'}}:</label>
			<input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.skill"
        value="{{data.data.skill}}"
      />
    </div>


    <div class="flexcol">
      <label for=""><br>{{localize 'swnr.effort.title'}}:</label>
        <select
          class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          name="data.effort"
        >
          {{#select data.data.effort}}
          <option value="">-</option>
          <option value="day">{{localize 'swnr.effort.day'}}</option>
          <option value="scene">{{localize 'swnr.effort.scene'}}</option>
          <option value="current">{{localize 'swnr.effort.current'}}</option>
          {{/select}}
        </select>
    </div>

    <div class="flex items-center">
      <label class="flex items-center gap-1"><br><br>
        <input
          class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
          type="checkbox"
          name="data.prepared"
          {{checked data.data.prepared}}
      />
        <div>{{localize 'swnr.sheet.powers.prepared'}}</div>
      </label>
    </div>
  </div>
</form>
