<form class="{{cssClass}} -m-2 p-2 bg-gray-500">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  <div class="flex gap-1">
    <div>
      <label for="data.source">{{localize 'swnr.sheet.source'}}: </label>
      <input
        type="text"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.source"
        value="{{data.data.source}}"
      />
    </div>
    <div>
      <label for="">{{localize 'swnr.sheet.level'}}: </label>
      <input
        type="number"
        class="px-1.5 py-3.5 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-opacity-75 rounded-md"
        name="data.level"
        value="{{data.data.level}}"
        step="1"
        min="0"
        max="5"
      />
    </div>
    <div>
  <label for="">{{localize 'swnr.sheet.powers.roll'}}:</label>
--roll--
    </div>
    <div>
  <label for="">{{localize 'swnr.sheet.powers.duration'}}:</label>
--duration--
    </div>
    <div>
  <label for="">{{localize 'swnr.sheet.powers.save'}}:</label>
--save--
    </div>
    <div>
  <label for="">{{localize 'swnr.sheet.powers.range'}}:</label>
--range--
    </div>
    <div>
  <label for="">{{localize 'swnr.sheet.powers.prepared'}}:</label>
--prepared--
    <div>
  </div>
</form>
