<form class="{{cssClass}} -m-2 p-2 form-sheet">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  {{> "systems/swnr/templates/items/fragments/vehicle-base.html"}}
  <div class="flex flexrow gap-2 text-center">
    <div class="flex flex-col items-center">
      {{localize 'swnr.weapon.damageFormula'}}:
      <input
        class="w-32 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="data.damage" value="{{data.data.damage}}" />
    </div>

    {{#if (ne item.data.data.type "drone")}}

    <!-- hardpoint -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.ship.hard-points'}}:
      <input type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1" name="data.hardpoint" min="0" data-dtype="Number" value="{{data.data.hardpoint}}" />
    </div>
    {{/if}}

    <!-- tl -->
    <div>
      <div> {{localize 'swnr.item.techlevel'}}: </div>
      <select class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" name="data.tl">
        {{#select data.data.tl}}
        <option value="">{{localize 'swnr.ammo.none'}}</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        {{/select}}
      </select>
    </div>

    <!-- qualities -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.ship.qualities'}}:
      <input
        class="w-32 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"  name="data.qualities" value="{{data.data.qualities}}" />
    </div>

    <!-- ab -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.attack-bonus'}}:
      <input
        class="w-32 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="number" step="1" data-dtype="Number" name="data.ab" value="{{data.data.ab}}" />
    </div>
  </div>
  <div class="flex flexrow gap-2">


    {{#if data.data.settings.useTrauma}}

      <!-- Trauma -->
      <div class="grid md:grid-cols-2 gap-1 pt-1">
        <h3 class="text-base w-full md:col-span-2">
          {{localize 'swnr.weapon.trauma.label'}}:
        </h3>
        <div class="ml-2">
          <div>{{localize 'swnr.weapon.trauma.die'}}:</div>
          <input
            class="w-16 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            name="data.trauma.die"
            type="text"
            value="{{data.data.trauma.die}}"
          />
        </div>
        <div>
          <div>{{localize 'swnr.weapon.trauma.rating'}}:</div>
            <input
            type="number"
            class="w-8 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
            name="data.trauma.rating"
            value="{{data.data.trauma.rating}}"
            min="0"
            step="1"
          />
        </div>
      </div>
    </div>  
    {{/if}}

    <div class="flex flex-wrap gap-1">
      <h3 class="text-base w-full">{{localize 'swnr.weapon.ammo'}}:</h3>
      <div>
        <div> {{localize 'swnr.sheet.ammoType'}}: </div>
        <select
          class="px-1 border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md"
          name="data.ammo.type"
        >
          {{#select data.data.ammo.type}}
          <option value="none">{{localize 'swnr.ammo.none'}}</option>
          <option value="ammo">{{localize 'swnr.ammo.ammo'}}</option>
          <option value="missile">{{localize 'swnr.ammo.missile'}}</option>
          <option value="special">{{localize 'swnr.ammo.special'}}</option>
          {{/select}}
        </select>
      </div>
      {{#if (and (ne data.data.ammo.type "none") (ne data.data.ammo.type "infinite"))}}
      <div class="pl-2">
        {{localize 'swnr.sheet.magazine'}}:
        <div class="flex gap-1 items-center">
          <div
            class="flex border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md items-center"
          >
            <input
              type="number"
              class="w-10 text-right subfield"
              name="data.ammo.value"
              max="{{data.data.ammo.max}}"
              value="{{data.data.ammo.value}}"
              data-dtype="Number"
              step="1"
              min="0"
            />
            <span>/</span>
            <input
              type="number"
              class="w-10 text-left subfield"
              name="data.ammo.max"
              value="{{data.data.ammo.max}}"
              data-dtype="Number"
              step="1"
              min="0"
            />
          </div>
        </div>
      </div>


      <div class="flex flex-row items-center">
        {{localize 'swnr.sheet.burst'}}:
            <input
              type="checkbox"
              name="data.ammo.burst"
              {{checked data.data.ammo.burst}}
            />
      </div>
      {{/if}}
    </div>

  </div>

</form>
