<form class="{{cssClass}} -m-2 p-2 bg-gray-200">
  {{> "systems/swnr/templates/items/fragments/desc.html"}}
  {{> "systems/swnr/templates/items/fragments/vehicle-base.html"}}
  <div class="flex flexrow">
    <div class="flex flex-col items-center">
      {{localize 'swnr.weapon.damageFormula'}}:
      <input
        class="w-32 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text" name="data.damage" value="{{data.data.damage}}" />
    </div>

    <!-- hardpoint -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.ship.hard-points'}}:
      <input type="number"
        class="w-16 px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        step="1" name="data.hardpoint" min="0" data-dtype="Number" value="{{data.data.hardpoint}}" />
    </div>


    <!-- tl -->
    <div>
      <div> {{localize 'swnr.item.techlevel'}}: </div>
      <select class="px-1 text-black border border-gray-800 bg-gray-400 bg-opacity-75 rounded-md" name="data.tl">
        {{#select data.data.tl}}
        <option value="">{{localize 'swnr.ammo.none'}}</option>
        <option value="4">4</option>
        <option value="4">5</option>
        <option value="4">6</option>
        {{/select}}
      </select>
    </div>

    <!-- qualities -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.ship.qualities'}}:
      <input
        class="w-32 text-center px-1.5 py-3 border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"  name="data.qualities" value="{{data.data.qualities}}" />
    </div>


    <!-- Ship /  class -->
    <div class="flex flex-col items-center">
      {{localize 'swnr.sheet.ship.ship-class'}}

      <select name="data.shipClass"
        class="border border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md">
        {{#select data.data.shipClass}}
        <option value="fighter">
          {{localize 'swnr.sheet.ship.shipClass.fighter'}}
        </option>
        <option value="frigate">{{localize 'swnr.sheet.ship.shipClass.frigate'}}</option>
        <option value="cruiser">{{localize 'swnr.sheet.ship.shipClass.cruiser'}}</option>
        <option value="capital">
          {{localize 'swnr.sheet.ship.shipClass.capital'}}
        </option>
        {{/select}}
      </select>


    </div>
  </div>

</form>
