      <div class="table-container" role="table">
        <!-- table-->
        <div class="item-titles flex-table header flexrow" role="rowgroup">
          {{!-- <div class="item-caret flexrow first" role="columnheader"><i class="fas fa-caret-down"></i></div> --}}
          <div class="item-name  flexrow" role="columnheader">{{ name }} Assets </div>
          <div class=" flexrow small-cell text-center" role="columnheader"> {{ localize 'swnr.sheet.faction.rating' }} </div>
          <div class=" flexrow small-cell text-center" role="columnheader"> {{ localize 'swnr.sheet.faction.hp' }} </div>
          <div class=" flexrow text-center" role="columnheader"> {{ localize 'swnr.sheet.faction.location' }} </div>
          <div class=" flexrow text-center" role="columnheader"> {{ localize 'swnr.sheet.faction.attackTarget' }} / {{ localize
            'swnr.sheet.faction.attackDamage' }} </div>
          <div class=" flexrow text-center pl-2" role="columnheader"> {{ localize 'swnr.sheet.faction.counter' }} </div>
          <div class="item-controls med-cell flexrow flex-shrink text-right" role="columnheader">
            <a class="item-control add-base text-gray-100 hover:text-green-400 transition-colors"
              title="{{localize 'swnr.sheet.add-item'}}" data-asset-type="{{ assetType }}" data-asset-name="{{ name }}">
              <i class="fas fa-home"></i>
            </a>
            <a class="item-control asset-create text-gray-100 hover:text-green-400 transition-colors"
              title="{{localize 'swnr.sheet.add-item'}}" data-asset-type="{{ assetType }}" data-asset-name="{{ name }}">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
        {{#each assets as |item id|}}
        <div class="item item-entry flex-table row flexrow pl-2" role="rowgroup" data-item-id="{{item.id}}">
          <div class="flexrow first item-name item-click item-rollable" role="cell">
            <div class="item-image" style="background-image: url({{item.img}})"><a></a>
            </div>
            <div class="  flexrow pr-2.0" role="cell">
              <a>{{item.name}}</a>
            </div>
          </div>
          <div class="flexrow small-cell text-center" role="cell">
            {{ item.data.data.rating }}
          </div>
          <div class="flexrow small-cell text-center" role="cell">
            {{ item.data.data.health.value }}/{{ item.data.data.health.max }}

          </div>
          <div class="flexrow text-center" role="cell">
            {{ item.data.data.location }}
          </div>
          <div class="flexrow text-center" role="cell">
            {{#if item.data.data.attackDamage}}
            {{ item.data.data.attackSource }} vs {{ item.data.data.attackTarget }} 
            {{ item.data.data.attackDamage }}
            {{/if}}
          </div>
          <div class="flexrow text-center pl-2" role="cell">
            {{ item.data.data.counter }}
          </div>
          <div class="item-controls  med-cell pr-1 text-right flex-shrink flexrow" role="cell">
            {{!-- <a class="item-control item-fix text-gray-600 hover:text-purple-800 transition-colors" title='{{localize 'swnr.sheet.fix-item'}}'>
              <i class="fas fa-tools"></i></a> --}}
            <a class="item-control asset-toggle-unusable  {{#unless item.data.data.unusable}}item-working{{/unless}}"
              title='{{localize 'swnr.sheet.break-item'}}'>
              <i class="fas fa-heart-broken {{#unless item.data.data.unusable}}item-working{{/unless}}"></i>
            </a>
            <a class="item-control item-edit text-gray-600 hover:text-purple-800 transition-colors" title='{{localize 'swnr.sheet.edit-item'}}'>
              <i class="fas fa-edit"></i></a>
            <a class="item-control item-delete text-gray-600 hover:text-red-600 transition-colors" title='{{localize 'swnr.sheet.delete-item'}}'>
              <i class="fas fa-trash"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
