        <!--power-->
        <div class="power flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-300 cursor-not-allowed w-8 subfield">
              {{actor.data.data.power.value}}</span>/<input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" name="data.power.max" value="{{actor.data.data.power.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.power'}}
          </label>
        </div>

        <!--mass-->
        <div class="mass flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-300 cursor-not-allowed w-8 subfield">
              {{actor.data.data.mass.value}}</span><span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" name="data.mass.max" value="{{actor.data.data.mass.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.mass'}}
          </label>
        </div>

        <!--hardpoints-->
        <div class="hardpoints flex flex-col justify-center items-center">
          <div class="border border-gray-800 bg-gray-400 mx-auto rounded-md">
            <span
              class="inline-block text-right text-gray-300 cursor-not-allowed w-8 subfield">
              {{actor.data.data.hardpoints.value}}</span>
            <span>/</span><input
              class="w-8 text-left pr-1.5 py-3.5 bg-opacity-75 bg-gray-400 placeholder-blue-800 placeholder-opacity-75 rounded-md subfield"
              type="number" name="data.hardpoints.max" value="{{actor.data.data.hardpoints.max}}" step="1" min="1"
              data-dtype="Number" />
          </div>
          <label
            class="hp-label hover:text-shadow hover:text-shadow-blueGray-600 cursor-pointer transition-text-shadow">
            {{localize 'swnr.sheet.ship.hard-points'}}
          </label>
        </div>
