<div class="">
  <div class="flex gap-2">
    <img
    class="profile-img w-60 h-60 object-contain"
      src="{{actor.img}}"
      title="{{actor.name}}"
      data-edit="img"
    />
    <div class="flex-grow items-center gap-1">
      <input
        name="name"
        class="text-2xl  subfield col-span-2 px-1.5 py-3.5 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"
        value="{{actor.name}}"
        placeholder="{{localize 'swnr.sheet.name'}}"
      />
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-2">
    <div class="flex-grow w-100 space-y-2">
      <input
        class="border text-center px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        type="text"
        name="data.notes.public.label"
        value="{{actor.system.notes.public.label}}"
      />
      <!-- prettier-ignore  -->
      <textarea
        name="data.notes.public.contents"
        class="border px-1 border-gray-800 bg-gray-400 bg-opacity-75 placeholder-blue-800 placeholder-opacity-75 rounded-md"
        id=""
        cols="30"
        rows="10"
        placeholder="{{actor.system.notes.public.label}}"
      >{{actor.system.notes.public.contents}}</textarea>
    </div>
  </div>

</div>
