  <li class="item-titles flexrow">
    <div class="item-name pr-2" style="text-transform: capitalize;">
      {{subtype}}s
    </div>
    <div class="field-long">
      {{#if (eq subtype "subject")}}
         {{localize 'swnr.sheet.program.target'}}
      {{else if (eq subtype "datafile")}}
      {{else}}
         {{localize 'swnr.sheet.program.targetAllowedShort'}}
      {{/if}}
    </div>
    {{#if (eq subtype "verb")}}
    <div class="field-short">
      {{localize 'swnr.sheet.program.accessCostShort'}}
    </div>
    {{/if}}
    <div class="item-status text-right field-short">      
      <a class="item-control item-create text-gray-100 hover:text-green-400 transition-colors"
        title="{{localize 'swnr.sheet.add-item'}}" 
          data-item-type="program" 
          data-item-name="Program"
          data-item-subtype={{subtype}}
        >
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </li>
  <ol class="item-list">
    {{#each items as |item id|}}
    <li class="item-alternating">
      <div class="item flexrow 
        {{#if (mod2 @id) }}
          bg-gray-600
          {{else}}
          bg-gray-400
          {{/if}}
      " data-item-id="{{item.id}}">
        <div class="item-name item-click item-rollable flexrow flex2 pr-2">
          <span class="item-image" style="background-image: url({{item.img}})">
            <a></a>
          </span>
          <a>{{item.name}}</a>
          {{#unless (eq ../subtype "subject")}}
              {{#if item.system.useAffects}}
              [{{item.system.useAffects}}]
              {{/if}}
          {{/unless}}
        </div>
        <div class="field-long">
          {{ item.system.target }}
        </div>
        {{#if (eq ../subtype "verb")}}
        <div class="field-short">
          {{item.system.accessCost}}
        </div>
        {{/if}}
        <div class="item-controls text-right field-short">
          <a class="item-control item-edit  hover:text-purple-800 transition-colors
          text-gray-200
          " 
            title='{{localize 'swnr.sheet.edit-item'}}'><i class="fas fa-edit"></i></a>
          
          <a class="item-control item-delete  hover:text-red-600 transition-colors
          text-gray-200
          " 
            title='{{localize 'swnr.sheet.delete-item'}}'><i class="fas fa-trash"></i></a>


        </div>
      </div>
    </li>
  {{/each}}
  </ol>
