<div class="item skill skillRoll w-32 flex-grow space-y-1" data-item-id="{{item.id}}">
  <a class="sheet-button skill-button inline-flex  gap-2">
    <div class="flex-shrink">
    {{zeroWidthBreaker item.name}}
    {{numberFormat item.system.rank decimals=0 sign=true}}
    </div>
  </a>

  <div class="item-controls pl-2">
    <a
      class="item-control item-edit text-gray-400 hover:text-purple-800 transition-colors"
      title="{{localize 'swnr.sheet.edit-item'}}"
    >
      <i class="fas fa-edit"></i>
    </a>
    <a
      class="item-control item-delete text-gray-400 hover:text-red-600 transition-colors"
      title="{{localize 'swnr.sheet.delete-item'}}"
    >
      <i class="fas fa-trash"></i>
    </a>
    <a
      class="item-control item-level-up text-gray-400 hover:text-red-600 transition-colors"
      title="{{localize 'swnr.sheet.level-up'}}"
    >
      <i class="fas fa-level-up-alt"></i>
    </a>
  </div>
</div>
